<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lctapp.lct">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <queries>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LCT AFRICA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LCT"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".Activities.SchemeBenefitsActivity"
            android:parentActivityName=".Activities.BenefitsActivity"/>
        <activity
            android:name=".Activities.VerificationActivity"
            android:parentActivityName=".Activities.BenefitsActivity"/>
        <activity
            android:name=".Activities.BenefitsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.HomepageActivity" />
        <activity
            android:name=".Activities.QRCodeActivity"
            android:parentActivityName=".Activities.StartVisit" />
        <activity android:name=".Activities.SelectHospital" />
        <activity
            android:name=".Activities.StartVisit"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.HomepageActivity" />
        <activity
            android:name=".Activities.ContactUs"
            android:parentActivityName=".Activities.HomepageActivity" />
        <activity
            android:name=".Activities.Profile"
            android:parentActivityName=".Activities.HomepageActivity" />
        <activity android:name=".Activities.NotificationView" />
        <activity android:name=".Activities.BmiCalculator" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.MemberRegistration" />
        <activity android:name=".Activities.RegistrationActivity" />
        <activity
            android:name=".Activities.ServiceBalances"
            android:parentActivityName=".Activities.HomepageActivity" />
        <activity android:name=".Activities.ResetPassword" />
        <activity
            android:name=".Activities.FrequentlyAskedQuestions"
            android:parentActivityName=".Activities.HomepageActivity" />
        <activity android:name=".Activities.OneTimePassword" />
        <activity android:name=".Activities.ForgotPassword" />
        <activity
            android:name=".Activities.TransactionActivity"
            android:parentActivityName=".Activities.HomepageActivity" />
        <activity android:name=".Activities.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SignupActivity" />
        <activity
            android:name=".Activities.MemberActivity"
            android:parentActivityName=".Activities.HomepageActivity" />
        <activity
            android:name=".Activities.HomepageActivity"
            android:launchMode="singleTop" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lctapp.lct.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
    </application>

</manifest>